<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.IndexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>users</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.user.UsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>users</servlet-name>
        <url-pattern>/users/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.user.DeleteUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.user.RegistrationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/users/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>injectData</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.InjectDataController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>injectData</servlet-name>
        <url-pattern>/InjectData</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>products</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.product.GetAllProductsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>products</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.product.DeleteProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteProduct</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>addProductToShop</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.product.AddProductToShopController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addProductToShop</servlet-name>
        <url-pattern>/products/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addProductToSoppingCard</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.shoppingcart.ShopingCartUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addProductToSoppingCard</servlet-name>
        <url-pattern>/products/addtocart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userShoppingCart</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.shoppingcart.ShoppingCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userShoppingCart</servlet-name>
        <url-pattern>/shoppingcart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteProductsFromShoppingCarts</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.shoppingcart.ShoppingCartDeleteProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteProductsFromShoppingCarts</servlet-name>
        <url-pattern>/shoppingcart/deleteproduct</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allShoppingCarts</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.shoppingcart.GetAllShoppingCartsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allShoppingCarts</servlet-name>
        <url-pattern>/allcards</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allOrdes</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.order.OrdersAllController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allOrdes</servlet-name>
        <url-pattern>/allorders</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>doOrder</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.order.OrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>doOrder</servlet-name>
        <url-pattern>/doorder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>viewOrder</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.order.OrderViewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewOrder</servlet-name>
        <url-pattern>/vieworder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteOrder</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.order.DeleteOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteOrder</servlet-name>
        <url-pattern>/deleteorder</url-pattern>
    </servlet-mapping>
</web-app>
